.card {
    height: 360px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px #ccc;
}
.card-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
}
.card-des {
    color: black;
    height: 48px;
    font-size: 14px;
    margin: 16px 16px;
    align-items: center;
    line-height: 24px;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}